.block_groups div.memberlist {
    list-style: url('[[pix:i/navigationitem]]');
}
.block_groups .blockgroupsandgroupingcheckbox ~ ul {
    display:none;
}
.block_groups input.blockgroupsandgroupingcheckbox {
    visibility: hidden;
    cursor: pointer;
    position:absolute;
    text-align: left;
}
.block_groups input.blockgroupsandgroupingcheckbox  ~label::before {
    content:url('[[pix:t/collapsed]]');
}
.block_groups input.blockgroupsandgroupingcheckbox:checked ~ label::before {
    content:url('[[pix:t/expanded]]');
}
.block_groups input.blockgroupsandgroupingcheckbox:checked ~ ul{
    display : block;
    list-style: url('[[pix:i/navigationitem]]');
    padding-left : 11px;
}
.block_groups input.blockgroupsandgroupingcheckbox:checked ~ label ::before{
    content:url('[[pix:t/expanded]]');
}
.block_groups a{
    margin-left: 0;
}
.block_groups .rightalign {
    float: right;
}
.block_groups .hiddengroups {
    opacity : 0.5;
}
.block_groups .normalgroups {
    opacity : 1;
}
.block_groups .spinner {
    align-items:right;
}
.block_groups .nospinner {
}